<!-- Favicon -->
<link rel="icon" href="img/core-img/favicon.ico">

<!-- Core Stylesheet -->
<link href="style.css" rel="stylesheet">

<!-- Responsive CSS -->
<link href="css/responsive.css" rel="stylesheet" />

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="#">CypherOps</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Services</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/portfolio">Portfolio</a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li> -->
                                    <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                                    <li class="nav-item"><a class="nav-link" href="">Blog</a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> -->
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="#contact">Contact</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                      <a href="#contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area1 clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <!-- <div class="wellcome-heading">
                        <h2>CypherOps</h2>
                        <h3>C</h3>
                        <p>Everything You Need. Cause we stand for code.</p>
                    </div> -->
                    <!-- <div class="get-start-area"> -->
                        <!-- Form Start -->
                        <!-- <form action="#" method="post" class="form-inline">
                            <input type="email" class="form-control email" placeholder="name@company.com">
                            <input type="submit" class="submit" value="Get Started">
                        </form> -->
                        <!-- Form End -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="animate-in"  id="home-slider">
  <img src="bot.png" class="hills" alt="slider image">
  <!-- <img src="img/home/slider/house.png" class="slider-house" alt="slider image">
  <img src="img/home/slider/sun.png" class="slider-sun" alt="slider image">
  <img src="img/home/slider/birds1.png" class="slider-birds1" alt="slider image">
  <img src="img/home/slider/birds2.png" class="slider-birds2" alt="slider image"> -->
  <!-- <img src="img/home/slider-bg.png" class="wheel" alt="slider image"> -->
        </div>
    </section>
